*{
    box-sizing: border-box;
}

.reservation-section{
    position: relative; 
    background-color: white;
    height: 200vh;

}


label{
    display: block;

}
form div{
    margin-top:30px;
}

.reservation-section__container{
    width: 65%;
    height: 95%;
    position: absolute;
    top:5vh;
    left: 50%;
    transform: translateX(-50%);
    /* border: 3px  solid rgba(225, 223, 223, 0.798); */
    background-color: white;
    box-shadow: 4px 4px 10px #888888;
}

.reservation-section__hero{
    background-image: url(/static/images/hero-2.jpg);
    border-radius: 5px 5px 0 0;
    height:340px;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container{
    position: absolute;
    top:200px;
    background-color: white;
    width: 80%;
    border: 3px  solid rgba(231, 231, 231, 0.798);
    padding: 10%;
    margin: 10%;
   
}

.form__input{
    padding: 5px;
    margin-top: 30px;
    width: 100%;
    border:none;
    border-bottom: 1px solid rgba(151, 151, 151, 0.575);
}
.form__input::-webkit-input-placeholder{
    font-style: italic;
    color: rgb(178, 178, 178);
}

.form__input--msg{
    border: 1px solid rgba(151, 151, 151, 0.575);
}

.form__input--smoke,
.form__input--guests {
    border: 1px solid rgba(151, 151, 151, 0.575);
    height: 40px;
    
}



.form__date,
.form__time{
    float: left;
    width: 50%;
}



.form__input--time,
.form__input--date {
    border: 1px solid rgba(151, 151, 151, 0.575);
    margin-top: 20px;
    
}

.date-time-group:after{
    content: "";
    display: table;
    clear: both;
}

.btn-container{
    clear: both;
    text-align: center;
    margin-top:30px;
    padding: 25px;
    border-top: 1px solid rgba(192, 192, 192, 0.575);
}
.btn--reservation{
    font-size: 17px;
    border-radius: 10px;
    padding: 14px;
    border: none;
    clear: both;
    width: 100%;
    margin: 0 auto;
    background-color: #57b63a;
    color: white;
}